@font-face {
    font-family: 'Kollektif';
    font-style: normal;
    font-weight: 400;
    src: local('Kollektif'), url('https://fonts.cdnfonts.com/s/19691/Kollektif.woff') format('woff');
}
@font-face {
    font-family: 'Kollektif';
    font-style: italic;
    font-weight: 400;
    src: local('Kollektif'), url('https://fonts.cdnfonts.com/s/19691/Kollektif-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Kollektif';
    font-style: normal;
    font-weight: 700;
    src: local('Kollektif'), url('https://fonts.cdnfonts.com/s/19691/Kollektif-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Kollektif';
    font-style: italic;
    font-weight: 700;
    src: local('Kollektif'), url('https://fonts.cdnfonts.com/s/19691/Kollektif-BoldItalic.woff') format('woff');
}


.header {
    position: sticky;
    top: 0;
    text-align: center;
    font-family:'Kollektif', sans-serif;
    font-style: normal;
    background-color: #282828;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    z-index: 1000;
}

.spacer {
    display: none
}

@media  screen and (min-width: 700px) {
    header {
        display: flex;
    }
    .header {
        position: sticky;
        text-align: center;
        font-family:'Kollektif', sans-serif;
        background-color: #282828;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    .spacer {
      display: block;
      width: 278px;
      flex: 0 0 auto;
    }
    .heading {
      flex: 1 1 auto;
    }
    body {
        font-size: 24px;
    }
    h1 {
        font-size: 2.986rem;
    }
}

body {
    background-color:#282828; 
    color:whitesmoke;
    font-family: 'Kollektif', sans-serif;
    font-style: normal;
}

.profile-pic {
    border-radius: 100%;
}

a:link {
    color: teal;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: salmon;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: teal;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: salmon;
    background-color: transparent;
    text-decoration: underline;
}
