body {
    background-color:#282828; 
    color:whitesmoke";
}
a:link {
    color: teal;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: salmon;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}